# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./dev.db"
AUTH_SECRET="wNqHMi6wFBNjR1SHtMLJLVYzjgtl8cLilGWvf80qaGE=" # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_URL=http://localhost:3050


NEXT_PUBLIC_ONESIGNAL_APP_ID=YOUR_ONESIGNAL_APP_ID
NEXT_PUBLIC_ONESIGNAL_SAFARI_WEB_ID=YOUR_ONESIGNAL_SAFARI_WEB_ID

GITHUB_SECRET=YOUR_GITHUB_SECRET
GITHUB_CLIENT_ID=YOUR_GITHUB_CLIENT_ID

ONESIGNAL_API_KEY=YOUR_ONESIGNAL_API_KEY

NEXT_PUBLIC_NOVU_APP_ID=NOVU_APP_ID
NOVU_SECRET_KEY=NOVU_SECRET_KEY